html {
    text-align: justify;
    color: black;
    background-color: #a2a2a2;
}

h2 {
    text-align: center;
    color: brown;
}

.header {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #979797;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    color: brown;
}

.sidebar {
    position: absolute;
    overflow: auto;
    padding: 10px;
    width: 200px;
    border-right: 1px solid #231F20;
    top: 82px;
    bottom: 0;
    font-size: larger;
    text-align: center;
    line-height: 150%;
}

.content {
    position: absolute;
    overflow: auto;
    padding: 10px;
    top: 82px;
    left: 240px;
    bottom: 0;
    right: 5px;
}

.images {
    width: 90%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.column-1 {
    width: 32%;
    min-height: 100%;
    float: left;
    margin-right: 1em;
}

.column-2 {
    width: 32%;
    min-height: 100%;
    float: left;
    margin-right: 1em;
}

.column-3 {
    width: 32%;
    min-height: 100%;
    float: right;
    margin-right: 10px;
}